#send {
    background: #2ed3ae;
    webkit-animation: color_change 5s infinite alternate;
    -moz-animation: color_change 5s infinite alternate;
    -ms-animation: color_change 5s infinite alternate;
    -o-animation: color_change 5s infinite alternate;
    animation: color_change 5s infinite alternate;
    border-color: #2ed3ae;
    }
