@import url('https://fonts.googleapis.com/css?family=Cookie');

@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* footer */
*{
	font-family: Montserrat, sans-serif;
}
footer #footer{
	border-top: 5px solid #d39e00;
	padding-top: 15px;
}
#footer .menu{
    padding-left: 50px;
}
/* Seccion de comentarios de inicio*/
.resenas .simple-slider .swiper-slide{
    height: 100%;
}

.simple-slider.main-slider .swiper-slide{
    height: 725px;
}
/* Imagen de entrada a las diferentes paginas full ancho */
.img-intro{
    width: 100%;
    height: 200px;
    max-height: 240px;
    overflow: hidden;
    margin: 0;
    position: relative;
}
.img-intro img {
    position:absolute;
    opacity: 0.5;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #333;
	width: 100%;
}

#pasos ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #666;
	color: #ccc;
	overflow: hidden;
	position: relative;
}

#pasos .tab_last { 
    border-right: 1px solid #333;
 }

 #pasos ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}

#pasos ul.tabs li.active {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}

#pasos .tab_container {
	border: 1px solid #333;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

#pasos .tab_content {
	padding: 20px;
	display: none;
}

#pasos .tab_drawer_heading { display: none; }

@media screen and (min-width: 480px) {
	#pasos .tabs {
		display: none;
	}
	#pasos .tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#pasos .d_active {
		background-color: #d39e00;
		color: black;
	}
}
.btn-reservas{
    margin-left: 50%;
}
.formulario input{
	width: 100%;
	margin-bottom: 10px;
}
.formulario textarea{
	width: 100%;
}
.intro_comunion img{
	width: 50%;
}
div.intro_text{
	text-align: center;
    padding-top: 10%;
}
div.intro_text h3{
	font-size: 102px;
	color: red;
	font-family: Cookie, sans-serif;
	font-weight: normal;
}
div.intro_text h1{
	font-size: 95px;
	color: #fff;
	font-weight: bold;
}
.inicio_familia{
	background-image: url(../images/pattern.png);
	background-color: red;
    border-radius: 30px;
	margin-bottom: 15px;
    /* z-index: 9999; */
	padding: 77px;
	color: white;
}
.inicio_familia .btn-primary,
.inicio_equipo .btn-primary,
.estado .btn-primary {
    color: #fff;
    background-color: transparent;
	border-color: #fff;
	transition: 0.5s ease all;
	font-size: 30px;
}
.inicio_familia .btn-primary:hover,
.inicio_equipo .btn-primary:hover {
    color: black;
    background-color: #fff;
	border-color: #fff;
	transition: 0.5s ease all;
	
}
.img_familia{
	padding-left: 0px;
	padding-left: 83px;
}
.img_familia img,
.img_equipo img{
	height: 353px;
	transition: 2s ease all;
}
.inicio_equipo{
	background-image: url(../images/pattern.png);
	background-color: #333;
	color: white;
	border-radius: 30px;
	padding: 77px;
	margin: -100px;
	margin-bottom: 0px;
	z-index: 9999;
}
.inicio_familia h3,
.inicio_equipo h3{
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 60px
}
.inicio_equipo p,
.inicio_familia p{
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 20px;
}
#maincontent{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}
.content2{
	padding-top: 60px;
}
.resenas{
	background-image: url(../images/pattern.png);
	background-color: white;
}
.estado{
	background-image: url(../images/pattern.png);
	background-color:red;
	border-left-style: double;
	border-left-color: #333;
	color: white;
	padding-bottom: 15px;
}
.estado .recientemiente{
	font-family: Cookie, sans-serif;
	font-weight: normal; 
	font-size: 52px;
	padding-bottom: 15px;
}
.content2 .swiper-container{
	padding-top: 55px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0px;
}
.texto_intro{
	background-color: #d39e00;
    margin-top: 5%;
}
.reservasform{
	margin-top: 115px;
	padding: 10px;
	border: 2px solid rgb(110, 110, 110);
	border-radius: 25px;
	margin-bottom: 100px;
}
.reservasform input{
	margin-bottom: 15px;
}
#pasos{
	margin-top: 50px;
}
.btn-reservas{
	border-color: black;
	color: black;
	background: white;
	transition: 1s ease all;
}
.btn-reservas:hover{
	border-color: white;
	color: white;
	background: black;
	transition: 1s ease all;
}
.btn-primary.focus, .btn-primary:focus{
	box-shadow: none;
}
.image_comunion{
	margin-bottom: 50px;
}
.sombra-comu{
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.formulario, 
.info_contacto{
    padding: 21px;
}

@media screen and (max-width:1000px){
	.inicio_familia .btn-primary, .inicio_equipo .btn-primary, .estado .btn-primary{
		font-size: 20px;
	}
	.inicio_equipo{
		margin: 0px;
	}
	.inicio_familia{

	}
	.img_familia{
		padding-left: 0px;
	}
	.img_familia img, .img_equipo img{
		height: 94%;
		border-radius: 100%;
	}
}
	@media screen and (max-width:993px){
		.img_familia img, .img_equipo img{
			height: 68%;
			border-radius: 100%;
		}
		.inicio_familia h3,
		.inicio_equipo h3{
			font-size: 35px;
		}
		.inicio_familia p,
		.inicio_equipo p{
			font-size: 17px;
			text-align: justify;
		}
		.inicio_familia .btn-primary, .inicio_equipo .btn-primary, .estado .btn-primary{
			font-size: 15px;
		}
		.img_familia{
			padding-left: 7%;
		}
}
@media screen and (max-width:767px){
	.img_familia img, .img_equipo img {
		height: 68%;
		border-radius: 0%;
		height: 100%;
	}
	.img_familia{
		padding-left: 15px;
	}
}
.formulario input.politica{
	width: 10%;
}